<div class="container">

	<mat-expansion-panel class="headers-align" hideToggle [(expanded)]="isFilterPanelExpanded">
		<mat-expansion-panel-header collapsedHeight="2.4em" expandedHeight="2.4em">
	    	<mat-panel-title>
				<button mat-mini-fab color="primary"><mat-icon>filter_list</mat-icon></button>
			</mat-panel-title>
	    	<mat-panel-description>
	    		<span>
	    			<span *ngIf="!(isFilterPanelExpanded || filterForm.value.deliveryDateStart || filterForm.value.deliveryDateEnd || filterForm.value.orderType || filterForm.value.orderStatus || filterForm.value.orderNumber || filterForm.value.mobile)">Tap to add filters</span>
		    		<span *ngIf="filterForm.value.deliveryDateStart"><mat-icon>date_range</mat-icon>{{filterForm.value.deliveryDateStart | date:'dd-MMM-yyyy'}}  </span>
		    		<span *ngIf="filterForm.value.deliveryDateEnd"><mat-icon>date_range</mat-icon>{{filterForm.value.deliveryDateEnd | date:'dd-MMM-yyyy'}}  </span>
		    		<span *ngIf="filterForm.value.orderNumber"><mat-icon>label_important</mat-icon>{{filterForm.value.orderNumber}}  </span>
		    		<span *ngIf="filterForm.value.mobile"><mat-icon>phone</mat-icon>{{filterForm.value.mobile}}  </span>
            <span *ngIf="filterForm.value.orderType"><mat-icon>category</mat-icon>{{filterForm.value.orderType}}  </span>
	    			<span *ngIf="filterForm.value.orderStatus && filterForm.value.orderStatus.length > 0"><mat-icon>check_circle_outline</mat-icon>{{filterForm.value.orderStatus}}  </span>
	    		</span>
	    	</mat-panel-description>
	    </mat-expansion-panel-header>

		<form [formGroup]="filterForm" (ngSubmit)="onSubmit()" class="filter-form">
		    <mat-tab-group mat-stretch-tabs (selectedTabChange)="onTabChanged($event);">
				<mat-tab>
					<ng-template mat-tab-label>
				      <mat-icon>equalizer</mat-icon>
				      Analysis Filters
          </ng-template>
          <div>
            <mat-form-field appearance="outline" class="date-form-field">
							<mat-label>Delivery From</mat-label>
							<input matInput formControlName="deliveryDateStart" [matDatepicker]="from">
							<mat-datepicker-toggle matSuffix [for]="from"></mat-datepicker-toggle>
						    <mat-datepicker #from></mat-datepicker>
						</mat-form-field>
						<mat-form-field appearance="outline" class="date-form-field">
							<mat-label>Delivery To</mat-label>
							<input matInput [min]="filterForm.value.deliveryDateStart" formControlName="deliveryDateEnd" [matDatepicker]="to">
							<mat-datepicker-toggle matSuffix [for]="to"></mat-datepicker-toggle>
						    <mat-datepicker #to></mat-datepicker>
						</mat-form-field>
					</div>
          <div>
            <mat-form-field appearance="outline">
              <mat-label>Order Type</mat-label>
              <mat-select formControlName="orderType">
                <mat-option *ngFor="let orderType of orderTypesArray" [value]="orderType" >{{orderType}}</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Order Status</mat-label>
              <mat-select formControlName="orderStatus">
                <mat-option *ngFor="let orderStatus of orderStatusesArray" [value]="orderStatus" >{{orderStatus}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
				</mat-tab>
				<mat-tab>
					<ng-template mat-tab-label>
				      <mat-icon>search</mat-icon>
				      Search Filters
          </ng-template>
					<div>
						<mat-form-field appearance="outline">
							<mat-label>Order No.</mat-label>
							<input matInput formControlName="orderNumber" type="number">
						</mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Mobile</mat-label>
              <input matInput formControlName="mobile" type="number">
            </mat-form-field>
					</div>
					<div>
            <mat-form-field appearance="outline">
              <mat-label>Order Type</mat-label>
              <mat-select formControlName="orderType">
                <mat-option *ngFor="let orderType of orderTypesArray" [value]="orderType" >{{orderType}}</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Order Status</mat-label>
              <mat-select formControlName="orderStatus">
                <mat-option *ngFor="let orderStatus of orderStatusesArray" [value]="orderStatus" >{{orderStatus}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
				</mat-tab>
			</mat-tab-group>
			<div>
				<button mat-raised-button color="primary" type="submit" class="button" [disabled]="!filterForm.valid">Apply Filters</button>
				<span class="space-5px"></span>
				<button mat-raised-button type="button" (click)="onCancel()">Cancel</button>
				<span class="space-5px"></span>
				<button mat-raised-button type="button" (click)="onReset()">Reset</button>
			</div>
		</form>
	</mat-expansion-panel>

	<ngx-spinner template="<img src='/assets/icons/spinner.gif' />"></ngx-spinner>

	<div *ngIf="orderList.length > 0">

		<h3>Orders Summary</h3>
		<div class="mat-elevation-z8 orders-summary">
			<div *ngFor="let itemType of itemTypesArray">
				<div class="item-category" *ngIf="ordersSummary[itemType]">
					<div class="item-category-name">{{itemType}}</div>
					<mat-divider></mat-divider>
					<div class="item-category-count">{{ordersSummary[itemType]}}</div>
				</div>
			</div>
      <div>
        <div class="item-category" *ngIf="ordersSummary['orderAmount']">
          <div class="item-category-name">Amount</div>
          <mat-divider></mat-divider>
          <div class="item-category-count">{{ordersSummary['orderAmount']}}</div>
        </div>
      </div>
		</div>

		<h3>
			Orders List
			<!-- <button mat-icon-button color="primary" (click)="printOrderList()">
				<mat-icon>print</mat-icon>
			</button> -->
		</h3>
		<table mat-table [dataSource]="orderList" multiTemplateDataRows class="mat-elevation-z8">

			<ng-container matColumnDef="orderNumber">
				<th mat-header-cell *matHeaderCellDef>Order No.</th>
				<td mat-cell *matCellDef="let element" (click)="expandTableRow(element)">{{element.orderType | slice:0:1 }}-{{element.orderNumber}}</td>
			</ng-container>

			<ng-container matColumnDef="name">
				<th mat-header-cell *matHeaderCellDef>Name</th>
				<td mat-cell *matCellDef="let element" (click)="expandTableRow(element)">{{element.customer.name}}</td>
			</ng-container>

			<ng-container matColumnDef="deliveryDate">
				<th mat-header-cell *matHeaderCellDef>Del. Date</th>
				<td mat-cell *matCellDef="let element" (click)="expandTableRow(element)">{{element.deliveryDate | date:'dd-MMM-yyyy'}}</td>
			</ng-container>

			<ng-container matColumnDef="actions">
				<th mat-header-cell *matHeaderCellDef></th>
				<td mat-cell *matCellDef="let element">
					<button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
						<mat-icon>more_vert</mat-icon>
					</button>
					<mat-menu #menu="matMenu">
						<button mat-menu-item (click)="edit(element)">
							<mat-icon color="primary">edit</mat-icon>
					    	<span>Edit Order</span>
						</button>
            <button mat-menu-item (click)="printInvoice(element)">
              <mat-icon color="primary">print</mat-icon>
              <span>Print Invoice</span>
            </button>
            <button mat-menu-item (click)="delete(element)">
              <mat-icon color="warn">delete</mat-icon>
					    <span>Delete Order</span>
            </button>
					</mat-menu>
				</td>
		    </ng-container>

			<!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
			<ng-container matColumnDef="expandedDetail">
				<td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
					<div class="example-element-detail" [@detailExpand]="isTableRowExpanded(element) ? 'expanded' : 'collapsed'">
						<div class="element-detail-1">
							<div>
								<table class="item-table">
									<tr>
										<th>Item</th>
										<th>Qty</th>
									</tr>
									<tr *ngFor="let item of element.orderItems;">
										<td>{{getItemDispVal(item.id)}}</td>
										<td>{{item.quantity}}</td>
									</tr>
								</table>
							</div>
							<div class="element-detail-2">
								<div><mat-icon mat-list-icon>phone</mat-icon>{{element.customer.mobile}}</div>
								<div><mat-icon mat-list-icon>date_range</mat-icon>{{element.orderDate | date:'dd-MMM-yyyy'}}</div>
								<div><span class="rupee-symbol">&#x20B9;</span>{{calcOrderTotal(element)}}</div>
							</div>
							<div class="element-detail-3">
								<div>
									<mat-icon mat-list-icon>check_circle_outline</mat-icon>
									<a (click)="openOrderStatusDialog(element)" href="javascript:void(0);">{{element.orderStatus}}</a>
								</div>
								<div *ngIf="element.notes"><mat-icon mat-list-icon>subject</mat-icon>{{element.notes}}</div>
							</div>
						</div>
					</div>
				</td>
			</ng-container>

			<tr mat-header-row *matHeaderRowDef="columnsToDisplay; sticky: true"></tr>
			<tr mat-row *matRowDef="let element; columns: columnsToDisplay;" class="example-element-row"
					[class.example-expanded-row]="isTableRowExpanded(element)">
			</tr>
			<tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
		</table>
	</div>

	<div *ngIf="orderList.length === 0">
		<h3>No order available as per applied filter(s)</h3>
	</div>

</div>
