<div class="container" novalidate>
	<header color="primary">
		<h3 *ngIf="!isEditing">Create Order</h3>
		<h3 *ngIf="isEditing">Update Order</h3>
	</header>
	
	<mat-error *ngIf="feedback" class="alert alert-{{feedback.type}}">{{feedback.message}}</mat-error>
	
	<form [formGroup]="orderForm" (ngSubmit)="onSubmit()">
		<div>
			<mat-form-field appearance="outline">
				<mat-label>Order Type</mat-label>
    			<mat-select formControlName="orderType" (selectionChange)="onOrderTypeChange($event)" [disabled]="isEditing">
	      			<mat-option value="Coat">Coat</mat-option>
	      			<mat-option value="Regular">Regular</mat-option>
				</mat-select>
			</mat-form-field>
			<mat-form-field appearance="outline">
				<mat-label>Order Number</mat-label> 
				<input matInput formControlName="orderNumber">
			</mat-form-field>
		</div>
		<div>
			<mat-form-field appearance="outline" class="date-form-field"> 
				<mat-label>Order Date</mat-label>
				<input matInput formControlName="orderDate" [matDatepicker]="orderDatepicker" [disabled]="isEditing">
				<mat-datepicker-toggle matSuffix [for]="orderDatepicker" [disabled]="isEditing"></mat-datepicker-toggle>
			    <mat-datepicker #orderDatepicker></mat-datepicker>
			</mat-form-field>
			<mat-form-field appearance="outline" class="date-form-field"> 
				<mat-label>Delivery Date</mat-label>
				<input matInput [min]="orderForm.value.orderDate" formControlName="deliveryDate" [matDatepicker]="deliveryDatepicker">
				<mat-datepicker-toggle matSuffix [for]="deliveryDatepicker"></mat-datepicker-toggle>
			    <mat-datepicker #deliveryDatepicker></mat-datepicker>
			</mat-form-field>
		</div>
		<div>
			<mat-form-field appearance="outline">
				<mat-label>Name</mat-label>
				<input matInput formControlName="name">
			</mat-form-field>
			<mat-form-field appearance="outline">
				<mat-label>Mobile</mat-label>
				<input matInput formControlName="mobile">
			</mat-form-field>
		</div>
		<div>
			<mat-form-field appearance="outline" class="items-form-field">
				<mat-label>Items</mat-label>
    			<mat-select formControlName="itemNames" multiple (selectionChange)="onItemSelectionChange($event)">
					<mat-optgroup *ngFor="let group of selectItemGroupsArray" [label]="group.name" [disabled]="group.disabled">
	      				<mat-option *ngFor="let item of group.selectItems" [value]="item.viewValue" [disabled]="group.disabled">{{item.viewValue}}</mat-option>
	    			</mat-optgroup>
				</mat-select>
			</mat-form-field>
		</div>
		<div formArrayName="itemCounts">
			<mat-form-field appearance="outline" class="item-form-field" *ngFor="let item of itemCounts.controls; let i=index">
				<mat-label>{{orderForm.value.itemNames[i]}}</mat-label> 
				<input matInput [formControlName]="i">
			</mat-form-field>
		</div>
		<div>
			<mat-form-field appearance="outline" class="notes-form-field">
				<mat-label>Notes</mat-label>
    			<textarea matInput #notesInput maxlength="300" formControlName="notes"></textarea>
    			<mat-hint align="end">{{notesInput.value?.length || 0}}/300</mat-hint>
  			</mat-form-field>
		</div>
		<div>
			<button *ngIf="!isEditing" mat-raised-button color="primary" type="submit" class="button" [disabled]="!orderForm.valid">Create Order</button>
			<button *ngIf="isEditing" mat-raised-button color="primary" type="submit" class="button" [disabled]="!orderForm.valid">Update Order</button>
			<span class="space-5px"></span>
			<button mat-raised-button type="button" (click)="onCancel()">Cancel</button>
		</div>
	</form>
</div>
