<div *ngFor="let copyName of copies; let idx=index;">
	<div class="invoice">
		<div class="shop">
			<div class="shop-details">
				<div class="shop-name">Gujrati Tailors</div>
				<div class="address-timings-mobile">
					<b>Add.</b>: Chandani Talkies Building, Satna - 485001 | <b>Time</b>:
					11 AM to 8:30 PM | <b>Mob.</b>: 9617886605
				</div>
			</div>
		</div>
		<div class="order">
			<div class="order-header">
				<div class="customer-name">
					<b>Name</b>: {{order.name}}
				</div>
				<div class="customer-mobile">
					<b>Mobile</b>: {{order.mobile}}
				</div>
				<div class="order-date">
					<b>Order Date</b>: {{order.orderDateMillis | date:'dd-MMM-yyyy'}}
				</div>
				<div class="delivery-date">
					<b>Del. Date</b>: {{order.deliveryDateMillis | date:'dd-MMM-yyyy'}}
				</div>
				<div class="order-no">
					<b>Order no.</b>: {{order.orderNumber}}
				</div>
				<div class="order-id">
					<b>Invoice no.</b>: {{order.id}}
				</div>
			</div>
			<div class="order-items">
				<table class="item-table">
					<tr>
						<th>Item</th>
						<th>Qty.</th>
						<th>Rate</th>
						<th>Amt.</th>
					</tr>
					<tr *ngFor="let item of order.itemIds; let i=index">
						<td>{{getItemDispValue(order.itemIds[i])}}</td>
						<td>{{order.itemCounts[i]}}</td>
						<td>{{order.itemRates[i]}}</td>
						<td>{{order.itemCounts[i] * order.itemRates[i]}}</td>
					</tr>
					<tr>
						<td></td>
						<td></td>
						<td><b>Advance</b></td>
						<td>{{order.advance}}</td>
					</tr>
					<tr>
						<td></td>
						<td></td>
						<td><b>Total</b></td>
						<td>&#x20B9;&nbsp;{{calcOrderTotal()}}</td>
					</tr>
					<tr *ngIf="order.notes">
						<td colspan="3"><b>Notes: </b>{{order.notes}}</td>
						<td></td>
					</tr>
				</table>
			</div>
		</div>
		<div class="terms-prop">
			<div class="terms">
				<ul>
					<li>No guarantee of clothes after 15 days of delivery date</li>
					<li>Errors and omissions excepted</li>
					<li>Clothes will not be provided without receipt</li>
					<li>All disputes subject to Satna jurisdiction</li>
				</ul>
			</div>
			<div class="prop">
				<b>Prop.: </b>Ronit Ashok Chavda
			</div>
		</div>
	</div>
	<div *ngIf="idx=='0'" class="cutter"></div>
</div>