<div *ngFor="let copyName of copies; let idx=index;">
	<div class="invoice">
		<div class="shop">
			<div class="shop-details">
				<div class="shop-name">Gujrati Tailors</div>
				<div class="address-timings-mobile">
					<b>Add.</b>: Chandani Talkies Building, Satna - 485001 | <b>Time</b>:
					11 AM to 8:30 PM | <b>Mob.</b>: 9617886605
				</div>
			</div>
		</div>
		<div class="order">
			<div class="order-header">
        <div class="order-no">
          <b>Order No.</b>: {{order.orderType | slice:0:1 }}-{{order.orderNumber}}
        </div>
				<div class="customer-name">
					<b>Name</b>: {{order.customer.name}}
				</div>
				<div class="customer-mobile">
					<b>Mobile</b>: {{order.customer.mobile}}
				</div>
				<div class="order-date">
					<b>Order Date</b>: {{order.orderDate | date:'dd-MMM-yyyy'}}
				</div>
				<div class="delivery-date">
					<b>Del. Date</b>: {{order.deliveryDate | date:'dd-MMM-yyyy'}}
				</div>
			</div>
			<div class="order-items">
				<table class="item-table">
					<tr>
						<th>Item</th>
						<th>Qty.</th>
						<th>Rate</th>
						<th>Amt.</th>
					</tr>
					<tr *ngFor="let item of order.orderItems; let i=index">
						<td>{{getItemDispValue(item.id)}}</td>
						<td>{{item.quantity}}</td>
						<td>{{item.rate}}</td>
						<td>{{item.quantity * item.rate}}</td>
					</tr>
					<!--<tr>
						<td></td>
						<td></td>
						<td><b>Advance</b></td>
						<td>{{order.advance}}</td>
					</tr>-->
					<tr>
						<td></td>
						<td></td>
						<td><b>Total</b></td>
						<td>&#x20B9;&nbsp;{{calcOrderTotal()}}</td>
					</tr>
					<tr *ngIf="order.notes">
						<td colspan="3"><b>Notes: </b>{{order.notes}}</td>
						<td></td>
					</tr>
				</table>
			</div>
		</div>
		<div class="terms-prop">
			<div class="terms">
				<ul>
          <li>No delivery without receipt</li>
          <li>No guarantee on delivery after 15 days of delivery date</li>
          <li>No warranty on fitting after 15 days of delivery date</li>
          <li>Errors and omissions excepted</li>
					<li>All disputes subject to Satna jurisdiction</li>
				</ul>
			</div>
			<div class="prop">
				<b>Prop.: </b>Ronit Ashok Chavda
			</div>
		</div>
	</div>
	<div *ngIf="idx=='0'" class="cutter"></div>
</div>
