@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

body {
	font: 400 14px/20px Roboto, Arial, sans-serif;
	margin: 0.3em;
}

body app-root div.isNotPrinting {
	height: 100vh;
}

body app-root div.isPrinting {
	height: auto;
}

mat-toolbar-row.mat-toolbar-row, .container, mat-expansion-panel-header.mat-expansion-panel-header {
	padding: 0.3em;
}

mat-expansion-panel .mat-expansion-panel-body {
	padding: 0 0.3em 0.3em;
}

.mat-form-field {
	margin-right: 0.5em;
	font: 400 14px/20px Roboto, Arial, sans-serif;
}

div.mat-form-field-infix {
	width: 9.2em;
}

.notes-form-field .mat-form-field-infix {
	width: 20.35em;
}

.items-form-field .mat-form-field-infix {
	width: 20.35em;
}

.item-counts, .item-rates {
	display: inline-flex;
}

.multiply-count-n-rates, .item-totals {
	display: inline-grid;
	margin-right: 0.5em;
}

.multiply-count-n-rate, .item-total {
	padding-top: 1.75em;
	padding-bottom: 2.456em;
}

.mat-form-field.item-form-field {
	display: block;
}

.order-total {
	padding-bottom: 1em;
	padding-left: 10.8em;
}

.item-form-field .mat-form-field-infix {
	width: 7.39em;
}

.item-rates .item-form-field .mat-form-field-infix {
	width: 3.5em;
}

.item-form-field .mat-form-field-prefix {
	position: static;
}

.date-form-field .mat-form-field-infix {
	width: 6.7em;
}

mat-expansion-panel .date-form-field .mat-form-field-infix {
	width: 6.7em;
}

mat-expansion-panel .mat-form-field-infix {
	width: 9.2em;
}

.fill-remaining-space {
	/* This fills the remaining space, by using flexbox. Every toolbar row uses a flexbox row layout. */
	flex: 1 1 auto;
}

.space-5px {
	padding: 0.3em;
}

ngx-spinner img {
	height: 3em;
	width: 3em;
}

@media print {
	.isPrinting>* {
		display: none !important;
	}
	.isPrinting app-print-layout {
		display: block !important;
	}
	@page {
		size: A4;
		margin: 0;
	}
	body {
		margin: 1cm;
	}
}