@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

body {
	font: 400 14px/20px Roboto, Arial, sans-serif;
	margin: 0.3em;
}


mat-toolbar-row.mat-toolbar-row, .container, mat-expansion-panel-header.mat-expansion-panel-header {
	padding: 0.3em;
}

mat-expansion-panel .mat-expansion-panel-body {
	padding: 0 0.3em 0.3em;
}

.mat-form-field {
	margin-right: 0.5em;
	font: 400 14px/20px Roboto, Arial, sans-serif;
}

div.mat-form-field-infix {
	width: 9.2em;
}

.notes-form-field .mat-form-field-infix {
	width: 20.35em;
}

.items-form-field .mat-form-field-infix {
	width: 20.35em;
}

.mat-form-field.item-form-field {
	margin-right: 0;
	margin-left: 2em;
}

.item-form-field .mat-form-field-infix {
	width: 7.39em;
}

.date-form-field .mat-form-field-infix {
	width: 6.7em;
}

mat-expansion-panel .date-form-field .mat-form-field-infix {
	width: 6.7em;
}

mat-expansion-panel .mat-form-field-infix {
	width: 9.2em;
}

.fill-remaining-space {
	/* This fills the remaining space, by using flexbox. Every toolbar row uses a flexbox row layout. */
	flex: 1 1 auto;
}

.space-5px {
	padding: 0.3em;
}

ngx-spinner img {
	height: 3em;
	width: 3em;
}